.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap:10px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px,auto);
}
.item{
    background-color:pink;
    border: 3px green solid;
    border-radius: 3px;
}
#i1{
    grid-row-start: 1;
    grid-row-end: 3;
}
#i2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}