*{
    text-align: center;
    justify-content: center;
}
.s1{
    color:steelblue;
}
.s2{
    color:orange;
}
.s3{
    color:blueviolet;
}
.s4{
    color:green;
}
.s5{
    color:red;
}

