* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    height: 80px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

ul li {
    margin: 0px 6px;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid;
    padding: 12px 20px;
    border-radius: 25px;
    font-family: "Courier New", Courier, monospace;
    transition: all 0.5s ease;
}

a:hover {
    background-color: yellow;
    color: red;
}

@media screen and (max-width: 576px) {
    header {
        height: auto;
        display: block;
        padding: 20px 0px;
    }

    ul {
        display: block;
        margin-right: 0;
    }

    ul li {
        margin: 6px;
    }
}