*{
    background-color: aqua;
    margin: 10px;
    border: 5px salmon;
    border-radius: 18px;
    padding: 5%;
    
}

#head{
  background-color: red;
  color:yellow;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 15px;
  box-sizing: border-box;
  height: 70px;
  width: 70%;
  padding: 15px;
}

.para{
  box-sizing: border-box;  
  background-color: aliceblue;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5%;
  border: 3px solid;
  margin: 15px;

}