*{
    background-color: yellow;
}
#head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    justify-items: center;
    text-align: center  ;
}

#par{
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}
@media (max-width:600px){
    *{
          background-color: tomato;
    }

#head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    justify-content: center;
    text-align: center;

}
#par{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 10px;
     text-align: center;
    
}
}